{% extends "releases/layout.html" %}

{% block body %}

    <h2>EDIT {{artist}} - {{title}}</h2>

    <p><a href="{% url 'login' %}">BACK TO HOME</a> </p>
    <p><a href="{% url 'edit_release' id %}">EDIT RELEASE</a> </p>
    <p> <a href="{% url 'login' %}">LOG OUT</a> </p>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'edit_release' id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="text" name="artist" placeholder={{artist}}>
        </div>
        <div class="form-group">
            <input class="form-control" type="text" name="title" placeholder={{title}}>
        </div>
        <div class="form-group">
            <input class="form-control" type="date" name="release_date" placeholder={{release_date}}>
        </div>
        <input class="btn btn-primary" type="submit" value="Edit">
    </form>

{% endblock %}