{% extends "releases/layout.html" %}

{% block body %}

    <h2> {{ artist }} - {{ title }} released on: {{release_date}}</h2>

    <p><a href="{% url 'login' %}">BACK TO HOME</a> </p>
    <p><a href="{% url 'edit_release' id %}">EDIT RELEASE</a> </p>
    <p> <a href="{% url 'login' %}">LOG OUT</a> </p>

    {% if message %}
        <div>{{ message }}</div>
    {% endif %}

    <form action="{% url 'release' id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" type="number" name="score" placeholder="score">
        </div>
        <input class="btn btn-primary" type="submit" value="vote">
    </form>
    
    

    

{% endblock %}